---
// Root page redirects to default language (/en/)
---

<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/ultimate-python/en/" />
    <link rel="canonical" href="/ultimate-python/en/" />
    <title>Ultimate Python</title>
  </head>
  <body>
    <p>Redirecting to <a href="/ultimate-python/en/">English version</a>...</p>
  </body>
</html>
